body {
    background-color: #f8f9fa;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.btn-danger {
    background-color: #e60012;
    border-color: #e60012;
}

.btn-danger:hover {
    background-color: #c5000f;
    border-color: #c5000f;
}

#menuItems .btn {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
